This notebook scrapes tables in wikipedia articles, performs some cleaning and saves the data as a csv file.

In [ ]:
library(tidyverse)
library(rvest)

# URL of the Wikipedia page
url <- "https://en.wikipedia.org/wiki/Deployment_of_COVID-19_vaccines#covid-19-vaccine-distribution-by-country"

# Read the HTML content of the page
page <- read_html(url)


vaccine_deployment_df <- page %>%
  html_node(".wikitable") %>%
  html_table()

# Remove the column with empty name
vaccine_deployment_df <- vaccine_deployment_df %>%
  select(-one_of(""))

# Removing all characters after '[' in column names
cleaned_colnames <- gsub("\\[.*", "", colnames(vaccine_deployment_df))
colnames(vaccine_deployment_df) <- cleaned_colnames

# Remove the last record
vaccine_deployment_df <- vaccine_deployment_df[-nrow(vaccine_deployment_df), ]

# Remove percent character and footnotes
vaccine_deployment_df <- vaccine_deployment_df %>%
  mutate(Percent = str_replace_all(Percent, "%", "")) %>%
  mutate(Location = gsub("\\[.*", "", Location))


head(vaccine_deployment_df, 10)

write_csv(vaccine_deployment_df, "vaccine_deployment.csv")

   Location       Vaccinated    Percent
1  World          5,625,493,786 70.54
2  China          1,310,292,000 91.89
3  India          1,027,418,330 72.50
4  European Union 338,046,600   75.10
5  United States  270,227,181   81.39
6  Indonesia      203,845,350   73.99
7  Brazil         189,643,431   88.08
8  Pakistan       165,567,890   70.21
9  Bangladesh     151,504,341   88.50
10 Japan          104,705,133   84.47

In [ ]:
# URL of the Wikipedia page
url <- "https://en.wikipedia.org/wiki/COVID-19_pandemic_death_rates_by_country#covid-19-pandemic-cases-and-mortality-by-country"

# Read the HTML content of the page
page <- read_html(url)

# Extract the table with class "wikitable"
covid_deathrate_df <- page %>%
  html_node(".wikitable") %>%
  html_table()

# Remove the last record
covid_deathrate_df <- covid_deathrate_df[-nrow(covid_deathrate_df), ]

# Remove footnotes
covid_deathrate_df <- covid_deathrate_df %>%
  mutate(Country = gsub("\\[.*", "", Country)) %>%
  mutate(across(everything(), ~na_if(., "—")))

head(covid_deathrate_df, 10)

write_csv(covid_deathrate_df, "covid_deathrate.csv")

   Country                Deaths / million Deaths    Cases
1  World                  872              6,960,770 771,150,460
2  Peru                   6,511            221,704   4,520,727
3  Bulgaria               5,664            38,414    1,302,188
4  Bosnia and Herzegovina 5,057            16,354    403,155
5  Hungary                4,896            48,807    2,206,311
6  North Macedonia        4,750            9,946     349,104
7  Georgia                4,575            17,132    1,855,289
8  Croatia                4,553            18,351    1,275,337
9  Slovenia               4,456            9,448     1,345,384
10 Montenegro             4,232            2,654     251,280

In [ ]:
# URL of the Wikipedia page
url <- "https://en.wikipedia.org/wiki/List_of_countries_by_obesity_rate"

# Read the HTML content of the page
page <- read_html(url)

# Extract the table with class "wikitable"
obsesity_rate_df <- page %>%
  html_node(".wikitable") %>%
  html_table()

head(obsesity_rate_df, 5)

write_csv(obsesity_rate_df, "obsesity_rate.csv")

  Country          Obesity rate (%)
1 Cook Islands     55.9
2 Palau            55.3
3 Marshall Islands 52.9
4 Tuvalu           51.6
5 Tonga            48.2

In [ ]:
# URL of the Wikipedia page
url <- "https://en.wikipedia.org/wiki/List_of_countries_by_hospital_beds"

# Read the HTML content of the page
page <- read_html(url)

# Extract the table with class "wikitable"
beds_df <- page %>%
  html_node(".wikitable") %>%
  html_table()

# Remove the first record
beds_df <- beds_df[-1, ]

# Changing column names
column_names = c('Country (or territory)', 'Region', 'Hospital beds per 1,000 people 2013',
                  'Hospital beds per 1,000 people 2014','Hospital beds per 1,000 people 2015',
                  'Hospital beds per 1,000 people 2016','Hospital beds per 1,000 people 2017',
                   'Occupancy (%)', 'ICU-CCB beds/100,000 inhabitants','Ventilators')

colnames(beds_df) <- column_names


beds_df <- beds_df %>%
  mutate(across(everything(),
                ~ gsub("\\[.*?\\]", "", .))) %>%
  mutate(across(everything(), ~na_if(., "—")))



head(beds_df, 5)

write_csv(beds_df, "hospital_beds.csv")

  Country (or territory) Region Hospital beds per 1,000 people 2013
1 Japan                  Asia   13.30
2 South Korea            Asia   10.92
3 Ukraine                Europe NA
4 Russia                 Europe 9.07
5 Germany                Europe 8.28
  Hospital beds per 1,000 people 2014 Hospital beds per 1,000 people 2015
1 13.21                               13.17
2 11.59                               11.61
3 NA                                  NA
4 8.81                                8.35
5 8.23                                8.13
  Hospital beds per 1,000 people 2016 Hospital beds per 1,000 people 2017
1 13.11                               13.05
2 11.98                               12.27
3 NA                                  8.8
4 8.16                                8.05
5 8.06                                8
  Occupancy (%) ICU-CCB beds/100,000 inhabitants
1 75.50          13.50
2 NA             10.60
3 NA            NA
4 NA             8.30
5  62.10         38.70
  Ventilators
1  45,293
2  9,795
3  3,600
4  40,000 (27.3 per 100,000 inhabitants)
5  25,000