Importing libraries

In [ ]:
install.packages("countrycode")
library(countrycode)
library(dplyr)

Adding iso code based on Country/Location column of each dataframe

In [19]:
covid_deathrate <- read.csv("covid_deathrate.csv")
# covid_deathrate$X <- NULL
# covid_deathrate$iso3c <- countrycode(covid_deathrate$Country, "country.name", "iso3c")
# write.csv(covid_deathrate, "covid_deathrate.csv")
covid_deathrate

    Country                                      Deaths...million Deaths
1   World                                        872              6,960,770
2   Peru                                         6,511            221,704
3   Bulgaria                                     5,664            38,414
4   Bosnia and Herzegovina                       5,057            16,354
5   Hungary                                      4,896            48,807
6   North Macedonia                              4,750            9,946
7   Georgia                                      4,575            17,132
8   Croatia                                      4,553            18,351
9   Slovenia                                     4,456            9,448
10  Montenegro                                   4,232            2,654
11  Czech Republic                               4,083            42,849
12  Latvia                                       3,989            7,384
13  Slovakia                                     3,750            21,167
14  San Marino                                   3,739            126
15  Moldova                                      3,704            12,126
16  Greece                                       3,617            37,572
17  Lithuania                                    3,530            9,710
18  Romania                                      3,476            68,341
19  Gibraltar                                    3,458            113
20  United Kingdom                               3,403            229,765
21  United States                                3,331            1,127,152
22  Brazil                                       3,272            704,659
23  Italy                                        3,247            191,715
24  Armenia                                      3,147            8,751
25  Chile                                        3,142            61,607
26  Martinique                                   3,003            1,104
27  Poland                                       3,002            119,654
28  Belgium                                      2,946            34,339
29  Paraguay                                     2,945            19,971
30  Trinidad and Tobago                          2,867            4,390
⋮   ⋮                                            ⋮                ⋮
210 Ghana                                        43               1,462
211 Vanuatu                                      42               14
212 Nicaragua                                    35               245
213 Guinea                                       33               468
214 Mali                                         32               743
215 Togo                                         32               290
216 Ivory Coast                                  29               835
217 Uzbekistan                                   29               1,016
218 Eritrea                                      27               103
219 Bhutan                                       26               21
220 Central African Republic                     20               113
221 Burkina Faso                                 17               396
222 Democratic Republic of the Congo             14               1,468
223 Sierra Leone                                 14               125
224 Nigeria                                      14               3,155
225 Tanzania                                     12               846
226 South Sudan                                  12               138
227 Tajikistan                                   12               125
228 Benin                                        12               163
229 Niger                                        12               315
230 Chad                                         10               194
231 Burundi                                      1                15
232 North Korea                                  0                6
233 Pitcairn Islands                             NA               NA
234 Falkland Islands                             NA               NA
235 Niue                                         NA               NA
236 Turkmenistan                                 NA               0
237 Vatican City                                 NA               0
238 Tokelau                                      NA               0
239 Saint Helena, Ascension and Tristan da Cunha NA               NA
    Cases       iso3c
1   771,150,460 NA
2   4,520,727   PER
3   1,302,188   BGR
4   403,155     BIH
5   2,206,311   HUN
6   349,104     MKD
7   1,855,289   GEO
8   1,275,337   HRV
9   1,345,384   SVN
10  251,280     MNE
11  4,651,538   CZE
12  976,316     LVA
13  1,867,525   SVK
14  24,644      SMR
15  623,684     MDA
16  5,405,742   GRC
17  1,329,905   LTU
18  3,455,207   ROU
19  20,550      GIB
20  24,743,787  GBR
21  103,436,829 USA
22  37,721,749  BRA
23  26,082,645  ITA
24  449,650     ARM
25  5,288,823   CHL
26  230,354     MTQ
27  6,523,335   POL
28  4,817,196   BEL
29  735,853     PRY
30  191,496     TTO
⋮   ⋮           ⋮
210 171,653     GHA
211 12,019      VUT
212 16,043      NIC
213 38,563      GIN
214 33,152      MLI
215 39,522      TGO
216 88,338      CIV
217 174,123     UZB
218 10,189      ERI
219 62,697      BTN
220 15,367      CAF
221 22,056      BFA
222 98,863      COD
223 7,766       SLE
224 286,572     NGA
225 43,078      TZA
226 18,368      SSD
227 17,786      TJK
228 28,036      BEN
229 9,515       NER
230 7,698       TCD
231 54,366      BDI
232 1           PRK
233 4           PCN
234 1,923       FLK
235 887         NIU
236 0           TKM
237 26          VAT
238 80          TKL
239 2,166       SHN

In [20]:
UN_countries_clean <- read.csv("UN_countries_clean.csv")
UN_countries_clean$X <- NULL
# UN_countries_clean$iso3c <- countrycode(UN_countries_clean$Country, "country.name", "iso3c")
# write.csv(UN_countries_clean, "UN_countries_clean.csv")
UN_countries_clean

    Country                                   Region
1   Afghanistan                               Southern Asia
2   Albania                                   Southern Europe
3   Algeria                                   Northern Africa
4   American Samoa                            Polynesia
5   Andorra                                   Southern Europe
6   Angola                                    Middle Africa
7   Anguilla                                  Caribbean
8   Antigua and Barbuda                       Caribbean
9   Argentina                                 South America
10  Armenia                                   Western Asia
11  Aruba                                     Caribbean
12  Australia                                 Oceania
13  Austria                                   Western Europe
14  Azerbaijan                                Western Asia
15  Bahamas                                   Caribbean
16  Bahrain                                   Western Asia
17  Bangladesh                                Southern Asia
18  Barbados                                  Caribbean
19  Belarus                                   Eastern Europe
20  Belgium                                   Western Europe
21  Belize                                    Central America
22  Benin                                     Western Africa
23  Bermuda                                   Northern America
24  Bhutan                                    Southern Asia
25  Bolivia (Plurinational State of)          South America
26  Bonaire, Sint Eustatius and Saba          Caribbean
27  Bosnia and Herzegovina                    Southern Europe
28  Botswana                                  Southern Africa
29  Brazil                                    South America
30  British Virgin Islands                    Caribbean
⋮   ⋮                                         ⋮
203 Tajikistan                                Central Asia
204 Thailand                                  South-eastern Asia
205 The former Yugoslav Republic of Macedonia Southern Europe
206 Timor-Leste                               South-eastern Asia
207 Togo                                      Western Africa
208 Tokelau                                   Polynesia
209 Tonga                                     Polynesia
210 Trinidad and Tobago                       Caribbean
211 Tunisia                                   Northern Africa
212 Turkey                                    Western Asia
213 Turkmenistan                              Central Asia
214 Turks and Caicos Islands                  Caribbean
215 Tuvalu                                    Polynesia
216 Uganda                                    Eastern Africa
217 Ukraine                                   Eastern Europe
218 United Arab Emirates                      Western Asia
219 United Kingdom                            Northern Europe
220 United Republic of Tanzania               Eastern Africa
221 United States Virgin Islands              Caribbean
222 United States of America                  Northern America
223 Uruguay                                   South America
224 Uzbekistan                                Central Asia
225 Vanuatu                                   Melanesia
226 Venezuela (Bolivarian Republic of)        South America
227 Viet Nam                                  South-eastern Asia
228 Wallis and Futuna Islands                 Polynesia
229 Western Sahara                            Northern Africa
230 Yemen                                     Western Asia
231 Zambia                                    Eastern Africa
232 Zimbabwe                                  Eastern Africa
    Population..000..2021. Pop..density..per.km2..2021. Capital.city
1    39835                   61.0                       Kabul
2     2873                  104.9                       Tirana
3    44617                   18.7                       Algiers
4       55                  275.5                       Pago Pago
5       77                  164.6                       Andorra la Vella
6    33934                   27.2                       Luanda
7       15                  168.1                       The Valley
8       99                  224.4                       Saint John's
9    45606                   16.7                       Buenos Aires
10    2968                  104.3                       Yerevan
11     107                  595.5                       Oranjestad
12   25788                    3.4                       Canberra
13    9043                  109.7                       Vienna
14   10223                  123.7                       Baku
15     397                   39.7                       Nassau
16    1748                 2300.4                       Manama
17  166304                 1277.6                       Dhaka
18     288                  669.1                       Bridgetown
19    9443                   46.5                       Minsk
20   11632                  384.2                       Brussels
21     405                   17.8                       Belmopan
22   12451                  110.4                       Porto-Novoc
23      62                 1241.8                       Hamilton
24     780                   20.5                       Thimphu
25   11833                   10.9                       Sucred
26      26                   80.6                       Kralendijk
27    3264                   64.0                       Sarajevo
28    2397                    4.2                       Gaborone
29  213993                   25.6                       Brasilia
30      30                  202.8                       Road Town
⋮   ⋮                      ⋮                            ⋮
203   9750                  69.7                        Dushanbe
204  69951                 136.9                        Bangkok
205   2083                  82.6                        Skopje
206   1344                  90.4                        Dili
207   8478                 155.9                        Lomé
208      1                 136.8                        Tokelauc
209    107                 148.3                        Nuku'alofa
210   1403                 273.6                        Port of Spain
211  11936                  76.8                        Tunis
212  85043                 110.5                        Ankara
213   6118                  13.0                        Ashgabat
214     39                  41.3                        Cockburn Town
215     12                 397.5                        Funafuti
216  47124                 235.8                        Kampala
217  43467                  75.0                        Kyiv
218   9991                 119.5                        Abu Dhabi
219  68207                 281.9                        London
220  61498                  69.4                        Dodoma
221    104                 297.8                        Charlotte Amalie
222 332915                  36.4                        Washington, D.C.
223   3485                  19.9                        Montevideo
224  33936                  79.8                        Tashkent
225    314                  25.8                        Port Vila
226  28705                  32.5                        Caracas
227  98169                 316.6                        Hanoi
228     11                  79.2                        Matu-Utu
229    612                   2.3                        El Aaiún
230  30491                  57.8                        Sana'a
231  18921                  25.5                        Lusaka
232  15092                  39.0                        Harare
    Capital.city.pop...000..2021. UN.membership.date Surface.area..km2.
1    4114.0                       19-Nov-46          652864
2     484.6                       14-Dec-55          28748
3    2729.3                       08-Oct-62          2381741
4      48.5                       NA                 199
5      22.6                       28-Jul-93          468
6    8044.7                       01-Dec-76          1246700
7       1.4                       NA                 91
8      20.8                       11-Nov-81          442
9   15057.3                       24-Oct-45          2796427
10   1083.3                       02-Mar-92          29743
11     29.9                       NA                 180
12    452.5                       01-Nov-45          7692024
13   1915.3                       14-Dec-55          83878
14   2313.1                       02-Mar-92          86600
15    279.7                       18-Sep-73          13940
16    600.4                       21-Sep-71          778
17  20283.6                       17-Sep-74          148460
18     89.2                       09-Dec-66          431
19   2016.7                       24-Oct-45          207600
20   2065.3                       27-Dec-45          30528
21     23.0                       25-Sep-81          22965
22    285.3                       20-Sep-60          114763
23     10.1                       NA                 54
24    203.3                       21-Sep-71          38394
25    277.9                       14-Nov-45          1098581
26     11.3                       NA                 NA
27    342.7                       22-May-92          51209
28    269.3                       17-Oct-66          582000
29   4559.0                       24-Oct-45          8515767
30     15.1                       NA                 151
⋮   ⋮                             ⋮                  ⋮
203   893.8                       02-Mar-92          142600
204 10350.2                       16-Dec-46          513140
205   589.8                       08-Apr-93          25713
206   281.1                       27-Sep-02          14919
207  1785.3                       20-Sep-60          56785
208      NA                       NA                 12
209    22.9                       14-Sep-99          747
210   544.3                       18-Sep-62          5127
211  2327.8                       12-Nov-56          163610
212  5018.0                       24-Oct-45          783562
213   828.1                       02-Mar-92          488100
214     0.1                       NA                 948
215     7.0                       05-Sep-00          26
216  3137.7                       25-Oct-62          241550
217  2973.3                       24-Oct-45          603500
218  1452.1                       09-Dec-71          71024
219  9176.5                       24-Oct-45          242495
220   261.6                       14-Dec-61          947303
221    52.3                       NA                 347
222  5264.5                       24-Oct-45          9833517
223  1744.7                       18-Dec-45          173626
224  2490.3                       02-Mar-92          448969
225    52.7                       15-Sep-81          12189
226  2935.5                       15-Nov-45          929690
227  4479.6                       20-Sep-77          331236
228     1.0                       NA                 142
229   232.4                       NA                 266000
230  2874.4                       30-Sep-47          527968
231  2646.6                       01-Dec-64          752612
232  1521.3                       25-Aug-80          390757
    Sex.ratio..m.per.100.f. National.currency          ⋯
1   105.3                   Afghani (AFN)              ⋯
2   103.6                   Lek (ALL)                  ⋯
3   102.1                   Algerian Dinar (DZD)       ⋯
4      NA                   US Dollar (USD)            ⋯
5      NA                   Euro (EUR)                 ⋯
6    97.9                   Kwanza (AOA)               ⋯
7      NA                   E. Caribbean Dollar (XCD)c ⋯
8    93.4                   E. Caribbean Dollar (XCD)c ⋯
9    95.3                   Argentine Peso (ARS)       ⋯
10   88.8                   Armenian Dram (AMD)        ⋯
11   90.2                   Aruban Florin (AWG)        ⋯
12   99.2                   Australian Dollar (AUD)    ⋯
13   97.4                   Euro (EUR)                 ⋯
14   99.9                   Azerbaijan manat (AZN)     ⋯
15   94.6                   Bahamian Dollar (BSD)      ⋯
16  184.5                   Bahraini Dinar (BHD)       ⋯
17  102.1                   Taka (BDT)                 ⋯
18   93.9                   Barbados Dollar (BBD)      ⋯
19   87.2                   Belarusian Ruble (BYN)     ⋯
20   98.4                   Euro (EUR)                 ⋯
21   98.8                   Belize Dollar (BZD)        ⋯
22   99.8                   CFA Franc, BCEAO (XOF)d    ⋯
23     NA                   Bermudian Dollar (BMD)     ⋯
24  113.7                   Ngultrum (BTN)             ⋯
25  100.7                   Boliviano (BOB)            ⋯
26     NA                   US Dollar (USD)            ⋯
27   95.9                   Convertible Mark (BAM)     ⋯
28   94.2                   Pula (BWP)                 ⋯
29   96.5                   Brazilian Real (BRL)       ⋯
30     NA                   US Dollar (USD)            ⋯
⋮   ⋮                       ⋮                          ⋱
203 101.5                   Somoni (TJS)               ⋯
204  94.7                   Baht (THB)                 ⋯
205 100.1                   Denar (MKD)                ⋯
206 102.1                   US Dollar (USD)            ⋯
207  99.1                   CFA Franc, BCEAO (XOF)c    ⋯
208    NA                   New Zealand Dollar (NZD)   ⋯
209 100.2                   Pa'anga (TOP)              ⋯
210  97.4                   TT Dollar (TTD)c           ⋯
211  98.4                   Tunisian Dinar (TND)       ⋯
212  97.5                   Turkish Lira (TRY)         ⋯
213  97.0                   Turkmen. Manat (TMT)c      ⋯
214    NA                   US Dollar (USD)            ⋯
215    NA                   Australian Dollar (AUD)    ⋯
216  97.3                   Uganda Shilling (UGX)      ⋯
217  86.4                   Hryvnia (UAH)              ⋯
218 222.0                   UAE Dirham (AED)d          ⋯
219  97.8                   Pound Sterling (GBP)       ⋯
220  99.9                   Tanzanian Shilling (TZS)   ⋯
221  90.4                   US Dollar (USD)            ⋯
222  97.9                   US Dollar (USD)            ⋯
223  93.6                   Peso Uruguayo (UYU)        ⋯
224  99.6                   Uzbekistan Sum (UZS)       ⋯
225 102.7                   Vatu (VUV)                 ⋯
226  96.7                   Bolívar (VEF)              ⋯
227  99.7                   Dong (VND)                 ⋯
228    NA                   CFP Franc (XPF)c           ⋯
229 109.4                   Moroccan Dirham (MAD)      ⋯
230 101.5                   Yemeni Rial (YER)          ⋯
231  98.1                   Zambian Kwacha (ZMW)       ⋯
232  91.4                   Zimbabwe Dollar (ZWL)      ⋯
    GDP..Gross.domestic.product..million.current.US..
1     17877
2     15278
3    171158
4        NA
5      3154
6     85001
7       380
8      1662
9    449664
10    13673
11     3293
12  1380208
13   445075
14    48048
15    13579
16    38574
17   301051
18     5209
19    63081
20   533097
21     1907
22    14403
23     7361
24     2564
25    40895
26       NA
27    20164
28    18341
29  1847796
30     1297
⋮   ⋮
203     8333
204   542017
205    12695
206     2018
207     7270
208       NA
209      508
210    23209
211    38797
212   761426
213    48276
214     1197
215       47
216    32609
217       NA
218   421142
219  2826442
220       NA
221       NA
222 21433226
223    56046
224    57921
225      907
226   134960
227   261921
228       NA
229       NA
230    24935
231    23085
232    21441
    GDP.growth.rate..annual....const..2015.prices. GDP.per.capita..current.US..
1    4.0                                              469.9
2    2.2                                             5303.2
3    0.8                                             3975.5
4     NA                                                 NA
5    1.8                                            40887.4
6   -1.5                                             2670.9
7    5.4                                            25528.6
8    3.4                                            17112.8
9   -2.2                                            10041.5
10   7.6                                             4622.7
11  -0.7                                            30974.7
12  -0.3                                            54763.2
13   1.4                                            49700.8
14   2.2                                             4781.9
15   1.2                                            34863.7
16   1.8                                            23504.0
17   8.2                                             1846.4
18  -0.1                                            18149.0
19   1.2                                             6673.5
20   1.7                                            46198.3
21   0.3                                             4815.2
22   6.9                                             1220.5
23   2.4                                           117767.9
24   3.8                                             3360.6
25   2.2                                             3552.1
26    NA                                                 NA
27   2.7                                             6108.6
28   3.0                                             7961.4
29   1.1                                             8755.3
30   2.6                                            43188.6
⋮   ⋮                                              ⋮
203   7.5                                            894.0
204   2.4                                           7784.7
205   3.6                                           6093.1
206  18.7                                           1560.5
207   5.3                                            899.5
208    NA                                               NA
209   0.7                                           4865.5
210  -1.2                                          16637.3
211   1.0                                           3317.5
212   0.9                                           9126.6
213   3.0                                           8124.5
214   5.3                                          31353.5
215   6.3                                           4036.0
216   6.7                                            736.6
217    NA                                               NA
218   1.7                                          43103.3
219   1.3                                          41854.5
220    NA                                               NA
221    NA                                               NA
222   2.2                                          65133.7
223   0.2                                          16190.1
224   5.6                                           1756.2
225   2.8                                           3023.4
226 -35.0                                           4732.8
227   7.0                                           2715.3
228    NA                                               NA
229    NA                                               NA
230   2.1                                            855.1
231   1.4                                           1292.5
232  -8.1                                           1464.0
    Agricultural.production.index..2014.2016.100.
1   111
2   103
3   112
4    NA
5    NA
6   110
7    NA
8    93
9   113
10   81
11   NA
12   89
13  100
14  126
15  101
16  129
17  109
18  106
19  101
20  102
21   99
22  119
23   NA
24   99
25  110
26   NA
27  105
28   98
29  110
30   NA
⋮   ⋮
203 159
204 101
205  96
206  99
207 110
208 106
209  91
210 104
211 106
212 111
213  95
214  NA
215 103
216 100
217 109
218 112
219 104
220 107
221  NA
222 100
223 102
224 102
225 100
226  91
227 105
228  NA
229  NA
230  98
231 110
232 113

In [21]:
hospital_beds <- read.csv("hospital_beds.csv")
hospital_beds$X <- NULL
# hospital_beds$iso3c <- countrycode(hospital_beds$Country..or.territory., "country.name", "iso3c")
# write.csv(hospital_beds, "hospital_beds.csv")
hospital_beds

   Country..or.territory. Region   Hospital.beds.per.1.000.people.2013
1  Japan                  Asia     13.30
2  South Korea            Asia     10.92
3  Ukraine                Europe      NA
4  Russia                 Europe    9.07
5  Germany                Europe    8.28
6  Austria                Europe    7.64
7  Hungary                Europe    7.04
8  Czech Republic         Europe    6.70
9  Poland                 Europe    6.61
10 Lithuania              Europe    7.28
11 Netherlands            Europe    6.18
12 France                 Europe    6.28
13 Slovakia               Europe    5.80
14 Belgium                Europe    5.93
15 Latvia                 Europe    5.80
16 Hong Kong              Asia      5.40
17 Argentina              Americas    NA
18 Estonia                Europe    5.01
19 Luxembourg             Europe    5.17
20 Switzerland            Europe    4.68
21 Slovenia               Europe    4.55
22 China                  Asia      3.31
23 Greece                 Europe    4.24
24 Australia              Oceania   3.74
25 Norway                 Europe    3.86
26 Portugal               Europe    3.39
27 Finland                Europe    4.87
28 Italy                  Europe    3.31
29 Iceland                Europe    3.22
30 Israel                 Asia      3.09
31 Spain                  Europe    2.96
32 Ireland                Europe    2.56
33 United States          Americas  2.89
34 Turkey                 Asia      2.65
35 New Zealand            Oceania   2.78
36 Denmark                Europe    3.07
37 United Kingdom         Europe    2.76
38 Canada                 Americas  2.71
39 Sweden                 Europe    2.59
40 Chile                  Americas  2.16
   Hospital.beds.per.1.000.people.2014 Hospital.beds.per.1.000.people.2015
1  13.21                               13.17
2  11.59                               11.61
3     NA                                  NA
4   8.81                                8.35
5   8.23                                8.13
6   7.58                                7.54
7   6.98                                6.99
8   6.68                                6.67
9   6.63                                6.63
10  7.22                                6.97
11    NA                                6.52
12  6.20                                6.13
13  5.79                                5.75
14  5.85                                5.83
15  5.66                                5.69
16  5.40                                5.40
17    NA                                  NA
18  5.01                                4.96
19  5.05                                4.93
20  4.58                                4.58
21  4.54                                4.51
22  3.57                                3.82
23  4.24                                4.25
24  3.79                                3.82
25  3.84                                3.76
26  3.32                                3.37
27  4.53                                4.35
28  3.21                                3.20
29  3.16                                3.12
30  3.08                                3.03
31  2.97                                2.98
32  2.57                                2.92
33  2.83                                2.80
34  2.68                                2.68
35  2.75                                2.71
36  2.69                                2.53
37  2.73                                2.61
38  2.67                                2.61
39  2.54                                2.44
40  2.11                                2.14
   Hospital.beds.per.1.000.people.2016 Hospital.beds.per.1.000.people.2017
1  13.11                               13.05
2  11.98                               12.27
3     NA                                8.80
4   8.16                                8.05
5   8.06                                8.00
6   7.42                                7.37
7   7.00                                7.02
8   6.66                                6.63
9   6.64                                6.62
10  6.69                                6.56
11  6.44                                6.32
12  6.06                                5.98
13  5.78                                5.82
14  5.76                                5.76
15  5.72                                5.57
16    NA                                5.40
17    NA                                5.00
18  4.76                                4.69
19  4.81                                4.66
20  4.55                                4.53
21  4.49                                4.50
22  4.05                                4.34
23  4.20                                4.21
24  3.84                                3.84
25  3.68                                3.60
26  3.39                                3.39
27  3.97                                3.28
28  3.17                                3.18
29  3.13                                3.06
30  2.99                                3.02
31  2.97                                2.97
32  2.97                                2.96
33  2.77                                2.90
34  2.75                                2.81
35  2.73                                2.71
36  2.60                                2.61
37  2.57                                2.54
38  2.58                                2.52
39  2.34                                2.22
40  2.12                                2.11
   Occupancy.... ICU.CCB.beds.100.000.inhabitants
1  75.5          13.50
2    NA          10.60
3    NA             NA
4    NA           8.30
5  62.1          38.70
6  73.8          21.80
7  65.5          13.80
8  70.1          11.60
9    NA           6.90
10 73.2          15.50
11 55.4           8.40
12 75.6          11.60
13 67.8           9.20
14 81.8          15.90
15 71.1           9.70
16   NA           7.10
17   NA             NA
18 70.4          14.60
19 70.7          24.80
20 82.0          11.00
21 69.5           6.40
22   NA           4.52
23 61.6          11.20
24   NA           9.10
25 80.7           8.00
26 66.8           4.20
27   NA           6.10
28 78.9          12.50
29   NA           9.10
30 93.3             NA
31 75.3           9.70
32 94.9           6.50
33 64.0          29.40
34 68.0          46.50
35   NA           4.60
36   NA           6.70
37 84.3           6.60
38 91.6          13.50
39   NA           5.80
40 79.1             NA
   Ventilators                                                       iso3c
1   45,293                                                           JPN
2   9,795                                                            KOR
3   3,600                                                            UKR
4   40,000 (27.3 per 100,000 inhabitants)                            RUS
5   25,000                                                           DEU
6   2,500                                                            AUT
7   2,560                                                            HUN
8   3,529                                                            CZE
9   10,100 (26.6 per 100,000 inhabitants)                            POL
10 ~1,000                                                            LTU
11 NA                                                                NLD
12  9,236 (2006) 7,007 (2009)                                        FRA
13  600                                                              SVK
14 NA                                                                BEL
15 NA                                                                LVA
16 NA                                                                HKG
17 NA                                                                ARG
18 NA                                                                EST
19 NA                                                                LUX
20 NA                                                                CHE
21 NA                                                                SVN
22  145,000 (Invasive Ventilators) 98,000 (Non-Invasive Ventilators) CHN
23 NA                                                                GRC
24  1,314                                                            AUS
25  800                                                              NOR
26  1,400                                                            PRT
27 NA                                                                FIN
28  5,324 (January 2020) 5,000 (8.3 per 100,000 inhabitants)         ITA
29 NA                                                                ISL
30                                                                   ISR
31 NA                                                                ESP
32 NA                                                                IRL
33  177,000 68,000 (18.8 per 100,000 inhabitants)                    USA
34  17,000                                                           TUR
35  334                                                              NZL
36 NA                                                                DNK
37  5,000 8,175 (10.1 per 100,000 inhabitants)                       GBR
38 NA                                                                CAN
39  570                                                              SWE
40 NA                                                                CHL

In [22]:
obesity_rate <- read.csv("obesity_rate.csv")
# obesity_rate$X <- NULL
# obesity_rate$iso3c <- countrycode(obesity_rate$Country, "country.name", "iso3c")
# write.csv(obesity_rate, "obesity_rate.csv")
obesity_rate

    Country                          Obesity.rate.... iso3c
1   Cook Islands                     55.9             COK
2   Palau                            55.3             PLW
3   Marshall Islands                 52.9             MHL
4   Tuvalu                           51.6             TUV
5   Tonga                            48.2             TON
6   Samoa                            47.3             WSM
7   Kiribati                         46.0             KIR
8   Federated States of Micronesia   45.8             FSM
9   United States                    41.9             USA
10  Kuwait                           37.9             KWT
11  Jordan                           35.5             JOR
12  Saudi Arabia                     35.4             SAU
13  Qatar                            35.1             QAT
14  Libya                            32.5             LBY
15  Turkey                           32.1             TUR
16  Egypt                            32.0             EGY
17  Lebanon                          32.0             LBN
18  United Arab Emirates             31.7             ARE
19  Bahamas                          31.6             BHS
20  New Zealand                      30.8             NZL
21  Iraq                             30.4             IRQ
22  Fiji                             30.2             FJI
23  Canada                           29.8             CAN
24  Australia                        29.0             AUS
25  Malta                            28.9             MLT
26  Mexico                           54.7             MEX
27  Argentina                        28.3             ARG
28  South Africa                     28.3             ZAF
29  Chile                            28.0             CHL
30  Dominica                         27.9             DMA
⋮   ⋮                                ⋮                ⋮
159 Indonesia                        6.9              IDN
160 North Korea                      6.8              PRK
161 Democratic Republic of the Congo 6.7              COD
162 Sudan                            6.6              SDN
163 South Sudan                      6.6              SSD
164 Bhutan                           6.4              BTN
165 Philippines                      6.4              PHL
166 China                            6.2              CHN
167 Singapore                        6.1              SGP
168 Chad                             6.1              TCD
169 Malawi                           5.8              MWI
170 Rwanda                           5.8              RWA
171 Burkina Faso                     5.6              BFA
172 Niger                            5.5              NER
173 Afghanistan                      5.5              AFG
174 Burundi                          5.4              BDI
175 Madagascar                       5.3              MDG
176 Laos                             5.3              LAO
177 Uganda                           5.3              UGA
178 Sri Lanka                        5.2              LKA
179 Eritrea                          5.0              ERI
180 South Korea                      4.7              KOR
181 Ethiopia                         4.5              ETH
182 Japan                            4.3              JPN
183 Nepal                            4.1              NPL
184 Cambodia                         3.9              KHM
185 India                            3.9              IND
186 Timor-Leste                      3.8              TLS
187 Bangladesh                       3.6              BGD
188 Vietnam                          2.1              VNM

In [23]:
vaccine_deployment <- read.csv("vaccine_deployment.csv")
# vaccine_deployment$X <- NULL
# vaccine_deployment$iso3c <- countrycode(vaccine_deployment$Location, "country.name", "iso3c")
# write.csv(vaccine_deployment, "vaccine_deployment.csv")
vaccine_deployment

    Location                                     Vaccinated    Percent iso3c
1   World                                        5,625,493,786 70.54   NA
2   China                                        1,310,292,000 91.89   CHN
3   India                                        1,027,418,330 72.50   IND
4   European Union                               338,046,600   75.10   NA
5   United States                                270,227,181   81.39   USA
6   Indonesia                                    203,845,350   73.99   IDN
7   Brazil                                       189,643,431   88.08   BRA
8   Pakistan                                     165,567,890   70.21   PAK
9   Bangladesh                                   151,504,341   88.50   BGD
10  Japan                                        104,705,133   84.47   JPN
11  Mexico                                       97,179,493    76.22   MEX
12  Nigeria                                      92,261,510    42.22   NGA
13  Vietnam                                      90,272,853    91.94   VNM
14  Russia                                       89,081,596    61.56   RUS
15  Philippines                                  78,484,848    67.92   PHL
16  Iran                                         65,194,977    73.62   IRN
17  Germany                                      64,876,299    77.82   DEU
18  Turkey                                       57,941,051    67.89   TUR
19  Thailand                                     57,005,497    79.62   THA
20  Egypt                                        56,907,319    51.27   EGY
21  France                                       54,677,678    80.63   FRA
22  United Kingdom                               53,806,963    79.97   GBR
23  Italy                                        50,929,393    86.27   ITA
24  South Korea                                  44,784,499    86.43   KOR
25  Ethiopia                                     44,073,766    35.72   ETH
26  Colombia                                     43,012,174    82.92   COL
27  Argentina                                    41,510,828    91.21   ARG
28  Spain                                        41,351,234    86.95   ESP
29  Myanmar                                      34,777,314    64.64   MMR
30  Canada                                       34,763,194    90.40   CAN
⋮   ⋮                                            ⋮             ⋮       ⋮
193 Guernsey                                     54,223         85.62  GGY
194 Bermuda                                      48,554         75.65  BMU
195 Grenada                                      44,241         35.26  GRD
196 Gibraltar                                    42,175        129.07  GIB
197 Faroe Islands                                41,715         85.04  FRO
198 Greenland                                    41,243         72.52  GRL
199 Saint Vincent and the Grenadines             37,527         36.10  VCT
200 Burundi                                      36,909          0.29  BDI
201 Saint Kitts and Nevis                        33,794         70.88  KNA
202 Dominica                                     32,995         45.57  DMA
203 Turks and Caicos Islands                     32,815         71.76  TCA
204 Turkmenistan                                 32,240          0.53  TKM
205 Sint Maarten                                 29,788         67.41  SXM
206 Liechtenstein                                26,771         68.02  LIE
207 Monaco                                       26,672         67.49  MCO
208 San Marino                                   26,357         77.50  SMR
209 British Virgin Islands                       19,466         62.55  VGB
210 Caribbean Netherlands                        19,109         72.26  BES
211 Cook Islands                                 15,112         88.73  COK
212 Nauru                                        13,106        103.27  NRU
213 Anguilla                                     10,854         68.36  AIA
214 Wallis and Futuna                            7,150          61.66  WLF
215 Tuvalu                                       6,368          53.40  TUV
216 Saint Helena, Ascension and Tristan da Cunha 4,361          71.83  SHN
217 Falkland Islands                             2,632          75.57  FLK
218 Tokelau                                      2,203         116.38  TKL
219 Montserrat                                   2,104          47.68  MSR
220 Niue                                         1,650         102.23  NIU
221 Pitcairn Islands                             47            100.00  PCN
222 North Korea                                  0               0.00  PRK

Joining all dataframes based on iso column

In [24]:
data_model <- covid_deathrate %>%
  left_join(UN_countries_clean, by = "iso3c") %>%
  left_join(hospital_beds, by = "iso3c") %>%
  left_join(obesity_rate, by = "iso3c") %>%
  left_join(vaccine_deployment, by = "iso3c")

Warning message in left_join(., vaccine_deployment, by = "iso3c"):
“Detected an unexpected many-to-many relationship between `x` and `y`.
ℹ Row 1 of `x` matches multiple rows in `y`.
ℹ Row 1 of `y` matches multiple rows in `x`.
ℹ If a many-to-many relationship is expected, set `relationship =
  "many-to-many"` to silence this warning.”

In [12]:
# data_model <- covid_deathrate %>%
#   inner_join(UN_countries_clean, by = "iso3c") %>%
#   inner_join(hospital_beds, by = "iso3c") %>%
#   inner_join(obesity_rate, by = "iso3c") %>%
#   inner_join(vaccine_deployment, by = "iso3c")

In [25]:
data_model

    Country.x                                    Deaths...million Deaths
1   World                                        872              6,960,770
2   World                                        872              6,960,770
3   World                                        872              6,960,770
4   Peru                                         6,511            221,704
5   Bulgaria                                     5,664            38,414
6   Bosnia and Herzegovina                       5,057            16,354
7   Hungary                                      4,896            48,807
8   North Macedonia                              4,750            9,946
9   Georgia                                      4,575            17,132
10  Croatia                                      4,553            18,351
11  Slovenia                                     4,456            9,448
12  Montenegro                                   4,232            2,654
13  Czech Republic                               4,083            42,849
14  Latvia                                       3,989            7,384
15  Slovakia                                     3,750            21,167
16  San Marino                                   3,739            126
17  Moldova                                      3,704            12,126
18  Greece                                       3,617            37,572
19  Lithuania                                    3,530            9,710
20  Romania                                      3,476            68,341
21  Gibraltar                                    3,458            113
22  United Kingdom                               3,403            229,765
23  United States                                3,331            1,127,152
24  Brazil                                       3,272            704,659
25  Italy                                        3,247            191,715
26  Armenia                                      3,147            8,751
27  Chile                                        3,142            61,607
28  Martinique                                   3,003            1,104
29  Poland                                       3,002            119,654
30  Belgium                                      2,946            34,339
⋮   ⋮                                            ⋮                ⋮
217 Ghana                                        43               1,462
218 Vanuatu                                      42               14
219 Nicaragua                                    35               245
220 Guinea                                       33               468
221 Mali                                         32               743
222 Togo                                         32               290
223 Ivory Coast                                  29               835
224 Uzbekistan                                   29               1,016
225 Eritrea                                      27               103
226 Bhutan                                       26               21
227 Central African Republic                     20               113
228 Burkina Faso                                 17               396
229 Democratic Republic of the Congo             14               1,468
230 Sierra Leone                                 14               125
231 Nigeria                                      14               3,155
232 Tanzania                                     12               846
233 South Sudan                                  12               138
234 Tajikistan                                   12               125
235 Benin                                        12               163
236 Niger                                        12               315
237 Chad                                         10               194
238 Burundi                                      1                15
239 North Korea                                  0                6
240 Pitcairn Islands                             NA               NA
241 Falkland Islands                             NA               NA
242 Niue                                         NA               NA
243 Turkmenistan                                 NA               0
244 Vatican City                                 NA               0
245 Tokelau                                      NA               0
246 Saint Helena, Ascension and Tristan da Cunha NA               NA
    Cases       iso3c Country.y
1   771,150,460 NA    Channel Islands
2   771,150,460 NA    Channel Islands
3   771,150,460 NA    Channel Islands
4   4,520,727   PER   Peru
5   1,302,188   BGR   Bulgaria
6   403,155     BIH   Bosnia and Herzegovina
7   2,206,311   HUN   Hungary
8   349,104     MKD   The former Yugoslav Republic of Macedonia
9   1,855,289   GEO   Georgia
10  1,275,337   HRV   Croatia
11  1,345,384   SVN   Slovenia
12  251,280     MNE   Montenegro
13  4,651,538   CZE   Czechia
14  976,316     LVA   Latvia
15  1,867,525   SVK   Slovakia
16  24,644      SMR   San Marino
17  623,684     MDA   Republic of Moldova
18  5,405,742   GRC   Greece
19  1,329,905   LTU   Lithuania
20  3,455,207   ROU   Romania
21  20,550      GIB   Gibraltar
22  24,743,787  GBR   United Kingdom
23  103,436,829 USA   United States of America
24  37,721,749  BRA   Brazil
25  26,082,645  ITA   Italy
26  449,650     ARM   Armenia
27  5,288,823   CHL   Chile
28  230,354     MTQ   Martinique
29  6,523,335   POL   Poland
30  4,817,196   BEL   Belgium
⋮   ⋮           ⋮     ⋮
217 171,653     GHA   Ghana
218 12,019      VUT   Vanuatu
219 16,043      NIC   Nicaragua
220 38,563      GIN   Guinea
221 33,152      MLI   Mali
222 39,522      TGO   Togo
223 88,338      CIV   Côte d’Ivoire
224 174,123     UZB   Uzbekistan
225 10,189      ERI   Eritrea
226 62,697      BTN   Bhutan
227 15,367      CAF   Central African Republic
228 22,056      BFA   Burkina Faso
229 98,863      COD   Democratic Republic of the Congo
230 7,766       SLE   Sierra Leone
231 286,572     NGA   Nigeria
232 43,078      TZA   United Republic of Tanzania
233 18,368      SSD   South Sudan
234 17,786      TJK   Tajikistan
235 28,036      BEN   Benin
236 9,515       NER   Niger
237 7,698       TCD   Chad
238 54,366      BDI   Burundi
239 1           PRK   Democratic People's Republic of Korea
240 4           PCN   NA
241 1,923       FLK   Falkland Islands (Malvinas)
242 887         NIU   Niue
243 0           TKM   Turkmenistan
244 26          VAT   Holy See
245 80          TKL   Tokelau
246 2,166       SHN   Saint Helena
    Region.x         Population..000..2021. Pop..density..per.km2..2021.
1   Northern Europe     175                  922.3
2   Northern Europe     175                  922.3
3   Northern Europe     175                  922.3
4   South America     33359                   26.1
5   Eastern Europe     6897                   63.5
6   Southern Europe    3264                   64.0
7   Eastern Europe     9634                  106.4
8   Southern Europe    2083                   82.6
9   Western Asia       3980                   57.3
10  Southern Europe    4082                   72.9
11  Southern Europe    2079                  103.2
12  Southern Europe     628                   46.7
13  Eastern Europe    10725                  138.8
14  Northern Europe    1867                   30.0
15  Eastern Europe     5461                  113.6
16  Southern Europe      34                  566.8
17  Eastern Europe     4024                  122.5
18  Southern Europe   10371                   80.5
19  Northern Europe    2690                   42.9
20  Eastern Europe    19128                   83.1
21  Southern Europe      34                 3369.1
22  Northern Europe   68207                  281.9
23  Northern America 332915                   36.4
24  South America    213993                   25.6
25  Southern Europe   60368                  205.2
26  Western Asia       2968                  104.3
27  South America     19212                   25.8
28  Caribbean           375                  353.5
29  Eastern Europe    37797                  123.4
30  Western Europe    11632                  384.2
⋮   ⋮                ⋮                      ⋮
217 Western Africa    31732                  139.5
218 Melanesia           314                   25.8
219 Central America    6702                   55.7
220 Western Africa    13497                   54.9
221 Western Africa    20856                   17.1
222 Western Africa     8478                  155.9
223 Western Africa    27054                   85.1
224 Central Asia      33936                   79.8
225 Eastern Africa     3602                   35.7
226 Southern Asia       780                   20.5
227 Middle Africa      4920                    7.9
228 Western Africa    21497                   78.6
229 Middle Africa     92378                   40.7
230 Western Africa     8141                  112.8
231 Western Africa   211401                  232.1
232 Eastern Africa    61498                   69.4
233 Eastern Africa    11381                   18.6
234 Central Asia       9750                   69.7
235 Western Africa    12451                  110.4
236 Western Africa    25131                   19.8
237 Middle Africa     16915                   13.4
238 Eastern Africa    12255                  477.2
239 Eastern Asia      25887                  215.0
240 NA                   NA                     NA
241 South America         4                    0.3
242 Polynesia             2                    6.2
243 Central Asia       6118                   13.0
244 Southern Europe       1                 1845.5
245 Polynesia             1                  136.8
246 Western Africa        6                   15.6
    Capital.city     ⋯ Hospital.beds.per.1.000.people.2016
1   Saint Heliere    ⋯   NA
2   Saint Heliere    ⋯   NA
3   Saint Heliere    ⋯   NA
4   Lima             ⋯   NA
5   Sofia            ⋯   NA
6   Sarajevo         ⋯   NA
7   Budapest         ⋯ 7.00
8   Skopje           ⋯   NA
9   Tbilisi          ⋯   NA
10  Zagreb           ⋯   NA
11  Ljubljana        ⋯ 4.49
12  Podgorica        ⋯   NA
13  Prague           ⋯ 6.66
14  Riga             ⋯ 5.72
15  Bratislava       ⋯ 5.78
16  San Marino       ⋯   NA
17  Chisinau         ⋯   NA
18  Athens           ⋯ 4.20
19  Vilnius          ⋯ 6.69
20  Bucharest        ⋯   NA
21  Gibraltar        ⋯   NA
22  London           ⋯ 2.57
23  Washington, D.C. ⋯ 2.77
24  Brasilia         ⋯   NA
25  Rome             ⋯ 3.17
26  Yerevan          ⋯   NA
27  Santiago         ⋯ 2.12
28  Fort-de-France   ⋯   NA
29  Warsaw           ⋯ 6.64
30  Brussels         ⋯ 5.76
⋮   ⋮                ⋱ ⋮
217 Accra            ⋯ NA
218 Port Vila        ⋯ NA
219 Managua          ⋯ NA
220 Conakry          ⋯ NA
221 Bamako           ⋯ NA
222 Lomé             ⋯ NA
223 Yamoussoukroc    ⋯ NA
224 Tashkent         ⋯ NA
225 Asmara           ⋯ NA
226 Thimphu          ⋯ NA
227 Bangui           ⋯ NA
228 Ouagadougou      ⋯ NA
229 Kinshasa         ⋯ NA
230 Freetown         ⋯ NA
231 Abuja            ⋯ NA
232 Dodoma           ⋯ NA
233 Juba             ⋯ NA
234 Dushanbe         ⋯ NA
235 Porto-Novoc      ⋯ NA
236 Niamey           ⋯ NA
237 N'Djamena        ⋯ NA
238 Gitega           ⋯ NA
239 Pyongyang        ⋯ NA
240 NA               ⋯ NA
241 Stanley          ⋯ NA
242 Alofi            ⋯ NA
243 Ashgabat         ⋯ NA
244 Vatican City     ⋯ NA
245 Tokelauc         ⋯ NA
246 Jamestown        ⋯ NA
    Hospital.beds.per.1.000.people.2017 Occupancy....
1     NA                                  NA
2     NA                                  NA
3     NA                                  NA
4     NA                                  NA
5     NA                                  NA
6     NA                                  NA
7   7.02                                65.5
8     NA                                  NA
9     NA                                  NA
10    NA                                  NA
11  4.50                                69.5
12    NA                                  NA
13  6.63                                70.1
14  5.57                                71.1
15  5.82                                67.8
16    NA                                  NA
17    NA                                  NA
18  4.21                                61.6
19  6.56                                73.2
20    NA                                  NA
21    NA                                  NA
22  2.54                                84.3
23  2.90                                64.0
24    NA                                  NA
25  3.18                                78.9
26    NA                                  NA
27  2.11                                79.1
28    NA                                  NA
29  6.62                                  NA
30  5.76                                81.8
⋮   ⋮                                   ⋮
217 NA                                  NA
218 NA                                  NA
219 NA                                  NA
220 NA                                  NA
221 NA                                  NA
222 NA                                  NA
223 NA                                  NA
224 NA                                  NA
225 NA                                  NA
226 NA                                  NA
227 NA                                  NA
228 NA                                  NA
229 NA                                  NA
230 NA                                  NA
231 NA                                  NA
232 NA                                  NA
233 NA                                  NA
234 NA                                  NA
235 NA                                  NA
236 NA                                  NA
237 NA                                  NA
238 NA                                  NA
239 NA                                  NA
240 NA                                  NA
241 NA                                  NA
242 NA                                  NA
243 NA                                  NA
244 NA                                  NA
245 NA                                  NA
246 NA                                  NA
    ICU.CCB.beds.100.000.inhabitants
1     NA
2     NA
3     NA
4     NA
5     NA
6     NA
7   13.8
8     NA
9     NA
10    NA
11   6.4
12    NA
13  11.6
14   9.7
15   9.2
16    NA
17    NA
18  11.2
19  15.5
20    NA
21    NA
22   6.6
23  29.4
24    NA
25  12.5
26    NA
27    NA
28    NA
29   6.9
30  15.9
⋮   ⋮
217 NA
218 NA
219 NA
220 NA
221 NA
222 NA
223 NA
224 NA
225 NA
226 NA
227 NA
228 NA
229 NA
230 NA
231 NA
232 NA
233 NA
234 NA
235 NA
236 NA
237 NA
238 NA
239 NA
240 NA
241 NA
242 NA
243 NA
244 NA
245 NA
246 NA
    Ventilators
1   NA
2   NA
3   NA
4   NA
5   NA
6   NA
7    2,560
8   NA
9   NA
10  NA
11  NA
12  NA
13   3,529
14  NA
15   600
16  NA
17  NA
18  NA
19  ~1,000
20  NA
21  NA
22   5,000 8,175 (10.1 per 100,000 inhabitants)
23   177,000 68,000 (18.8 per 100,000 inhabitants)
24  NA
25   5,324 (January 2020) 5,000 (8.3 per 100,000 inhabitants)
26  NA
27  NA
28  NA
29   10,100 (26.6 per 100,000 inhabitants)
30  NA
⋮   ⋮
217 NA
218 NA
219 NA
220 NA
221 NA
222 NA
223 NA
224 NA
225 NA
226 NA
227 NA
228 NA
229 NA
230 NA
231 NA
232 NA
233 NA
234 NA
235 NA
236 NA
237 NA
238 NA
239 NA
240 NA
241 NA
242 NA
243 NA
244 NA
245 NA
246 NA
    Country                          Obesity.rate....
1   NA                                 NA
2   NA                                 NA
3   NA                                 NA
4   Peru                             19.7
5   Bulgaria                         25.0
6   Bosnia and Herzegovina           17.9
7   Hungary                          26.4
8   North Macedonia                  22.4
9   Georgia                          21.7
10  Croatia                          24.4
11  Slovenia                         20.2
12  Montenegro                       23.3
13  Czech Republic                   26.0
14  Latvia                           23.6
15  Slovakia                         20.5
16  NA                                 NA
17  Moldova                          18.9
18  Greece                           24.9
19  Lithuania                        26.3
20  Romania                          22.5
21  NA                                 NA
22  United Kingdom                   27.8
23  United States                    41.9
24  Brazil                           22.1
25  Italy                            19.9
26  Armenia                          20.2
27  Chile                            28.0
28  NA                                 NA
29  Poland                           23.1
30  Belgium                          22.1
⋮   ⋮                                ⋮
217 Ghana                            10.9
218 Vanuatu                          25.2
219 Nicaragua                        23.7
220 Guinea                            7.7
221 Mali                              8.6
222 Togo                              8.4
223 Ivory Coast                      10.3
224 Uzbekistan                       16.6
225 Eritrea                           5.0
226 Bhutan                            6.4
227 Central African Republic          7.5
228 Burkina Faso                      5.6
229 Democratic Republic of the Congo  6.7
230 Sierra Leone                      8.7
231 Nigeria                           8.9
232 Tanzania                          8.4
233 South Sudan                       6.6
234 Tajikistan                       14.2
235 Benin                             9.6
236 Niger                             5.5
237 Chad                              6.1
238 Burundi                           5.4
239 North Korea                       6.8
240 NA                                 NA
241 NA                                 NA
242 NA                                 NA
243 Turkmenistan                     18.6
244 NA                                 NA
245 NA                                 NA
246 NA                                 NA
    Location                                     Vaccinated    Percent
1   World                                        5,625,493,786  70.54
2   European Union                               338,046,600    75.10
3   Kosovo                                       906,858        50.89
4   Peru                                         30,532,913     89.67
5   Bulgaria                                     2,108,377      31.09
6   Bosnia and Herzegovina                       943,394        28.91
7   Hungary                                      6,420,813      64.42
8   North Macedonia                              854,570        40.82
9   Georgia                                      1,654,504      44.03
10  Croatia                                      2,321,786      57.61
11  Slovenia                                     1,265,802      59.72
12  Montenegro                                   292,783        46.63
13  Czech Republic                               6,976,659      66.48
14  Latvia                                       1,346,184      71.84
15  Slovakia                                     2,822,919      51.82
16  San Marino                                   26,357         77.50
17  Moldova                                      1,108,879      33.88
18  Greece                                       7,936,266      76.42
19  Lithuania                                    1,957,190      71.17
20  Romania                                      8,187,976      41.65
21  Gibraltar                                    42,175        129.07
22  United Kingdom                               53,806,963     79.97
23  United States                                270,227,181    81.39
24  Brazil                                       189,643,431    88.08
25  Italy                                        50,929,393     86.27
26  Armenia                                      1,122,040      40.35
27  Chile                                        18,088,517     92.27
28  NA                                           NA                NA

In [26]:
write.csv(data_model, "data_model.csv")